.menu-area {
    background-color: #FFB800;
    background-position: top;
    height: 50px;
    width:  1425px;
    position: above ;
    padding-top: 0px; /* adjust the padding to move the background upward */
  }
  
  .menu-area ul li a img{
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .menu-area a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #FFB800;
    height: 60px;
    font-family:Poppins;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  
  }
  .menu-area a:hover{
    background: #FFB800;
    color: #fff;
  }
  .menu-area ul{
    list-style: none;
    display: flex;
  }
  .menu-area li{
    position: relative;
    width: 100%;
    text-align: center;
  }
  .menu-area li:hover .dropdown-1 > li{
    display: block;
    top: 0;
  }
  .dropdown-1 li{
    display: none;
    position: relative;
  }
  .dropdown-1{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .dropdown-1 li:hover {

    display: block;
  }

  body {
    background-color: rgb(248, 237, 138);
        background-image: url(hello.png);
        background-repeat: no-repeat;
        background-position: center 60px ;
        background-size: 70%;
  }
  
  nav ul li a img {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
  }

h1{
    margin: 800px 10px 0px 80px;
    font-size: 40px;
    color: #FC9F02;
    text-align: center;
    text-transform: capitalize;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}




